#formacao-profissional {
  position: relative;
  margin-top: -1150px;
  margin-left: auto;
  margin-right: 50px;
  width: 720px;
  color: #fff;
  background-color: transparent;
  text-align: left;
}

.imagem-experiencia {
  position: relative;
  bottom: -90px;
  right: -400px;
  width: 380px;
  opacity: 0.4;
  pointer-events: none;
  z-index: -1;
}

#titulo-formacao {
  font-size: 1.5rem;
  color: #fff;
  margin-top: 50px;
  margin-bottom: 50px;
}

#titulo-formacao::before {
  content: "+";
  font-size: 1.8rem;
  color: #1cff7a;
  margin-right: 5px;
}

.formacao-titulo {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.formacao-instituicao {
  font-size: 1rem;
  color: #1cff7a;
  margin-bottom: 15px;
}

.formacao-detalhes {
  font-size: 0.9rem;
  line-height: 1.6;
}

#formacao-profissional .formacao-header {
  margin-bottom: 70px;
}

#linha-vertical {
  position: absolute;
  top: 8%;
  bottom: 0%;
  left: -20%;
  transform: translateX(-50%);
  width: 2px;
  height: 550px;
  background-color: #1cff7a;
  z-index: 1;
}

#titulo-sobre-introducao {
  font-size: 1.8rem;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 32px;
  color: #1cff7a;
}

#titulo-experiencia {
  color: #1cff7a;
  font-size: 2.1rem;
  text-align: left;
  margin-left: 72px;
  margin-top: 30px;
}

#subtitulo-experiencia {
  font-size: 1.5rem;
  text-align: left;
  color: #ffffff;
  margin-top: 10px;
  margin-left: 72px;
  margin-bottom: 40px;
}

#subtitulo-experiencia::before {
  content: "+";
  font-size: 1.5rem;
  color: #1cff7a !important;
  margin-right: 5px;
}

#subtitulo-experiencia + * {
  margin-top: 20px;
}

.card {
  background-color: #022907;
  border-radius: 10px;
  width: 720px;
  height: 280px;
  color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  left: 52px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  text-align: left;
  margin-bottom: 20px;
}

.curso-nome {
  font-size: 1.5rem;
  margin-right: 10px;
}

.faculdade-nome {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #1cff7a;
  margin-top: 10px;
}

.curso-descricao {
  font-size: 1rem;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 10px;
}

.curso-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.status-botao {
  background-color: #1cff7a;
  color: #022907;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: not-allowed;
}

footer {
  margin-top: 110px;
  position: relative;
  padding: 10px 0;
  text-align: center;
}

@media (max-width: 768px) {
  #formacao-profissional {
    position: static;
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-top: -40px;
  }

  .card {
    width: 90%;
    margin: 10px 0 0px -16%;
    padding: 15px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .curso-nome {
    font-size: 1.2rem;
  }

  .faculdade-nome {
    font-size: 0.9rem;
  }

  .curso-descricao {
    font-size: 0.9rem;
  }

  #titulo-experiencia,
  #subtitulo-experiencia {
    font-size: 1.5rem;
    margin-left: 12px;
    text-align: left;
  }

  .imagem-experiencia {
    width: 200px;
    margin: 20px auto;
    margin-bottom: 0;
  }

  #linha-vertical {
    display: none;
  }

  #experiencia {
    padding-left: 5%;
    flex: 1;
    margin-bottom: 0;
    margin-left: 20px;
  }

  .imagem-experiencia {
    display: none;
  }

  .formacao-detalhes {
    text-align: center;
    margin: 0;
    width: 90%;
    word-wrap: break-word;
    padding-left: 10px;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }

  #experiencia {
    flex-grow: 1;
    margin-bottom: 50px;
    position: relative;
  }

  footer {
    position: relative;
    margin-top: -30px;
    padding: 10px 0;
    text-align: center;
  }

  #titulo-formacao {
    text-align: left;
    margin-left: 20px;
    position: relative;
  }

  #titulo-formacao::after {
    content: "";
    display: block;
    width: 50%;
    height: 2px;
    background-color: #1cff7a;
    margin-top: 10px;
  }

  #subtitulo-experiencia {
    text-align: left;
    margin-left: 20px;
    position: relative;
  }

  #subtitulo-experiencia::after {
    content: "";
    display: block;
    width: 45%;
    height: 2px;
    background-color: #1cff7a;
    margin-top: 10px;
  }

  #formacao-profissional .formacao-header:first-of-type {
    position: relative;
    margin-bottom: 20px;
  }

  #formacao-profissional .formacao-header:first-of-type::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #1cff7a;
    margin-top: 40px;
  }
}
