.foto-texto-container {
  display: flex;
  align-items: center;
  gap: 50px;
}

.foto-container {
  flex-shrink: 0;
}

.imagem-fundo-direita {
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
  width: 450px;
  opacity: 0.4;
  pointer-events: none;
  z-index: -1;
}

.foto-perfil {
  margin-top: 50px;
  margin-left: 150px;
  margin-bottom: 50px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 0px 15px rgba(0, 255, 0, 0.7);
  border: 5px solid rgba(255, 255, 255, 0.5);
}

.texto-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#titulo-introducao {
  font-size: 2rem;
  margin: 0;
}

#subtitulo-introducao {
  font-size: 1.5rem;
  margin-top: 10px;
}

#subtitulo-introducao {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 5px;
  color: rgba(255, 255, 255, 0.7);
}

#texto-introducao {
  font-size: 1.2rem !important;
  margin-top: 30px !important;
  margin-bottom: 0px !important;
  padding-bottom: 0;
  max-width: 1908px;
  margin-left: 32px;
  margin-right: auto;
}

.ajusta-espacamento h1,
.ajusta-espacamento h2 {
  margin-bottom: 0;
}

.imagens-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.imagens-container img {
  width: 48px;
  height: auto;
}

#titulo-sobre {
  color: #1cff7a;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 35px;
  font-size: 2.9rem;
}

#titulo-sobre-introducao {
  font-size: 1.8rem;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 32px;
  color: #1cff7a;
}

main {
  flex-grow: 1;
  min-height: calc(100vh - 170px);
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: 50px;
}

@media (max-width: 768px) {
  .foto-texto-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .foto-perfil {
    margin-top: 50px;
    width: 200px;
    height: 200px;
    margin-left: 0;
    margin-bottom: 0;
  }

  .texto-container {
    text-align: left;
    margin: 58px;
  }

  #titulo-introducao {
    font-size: 1.8rem;
  }

  #subtitulo-introducao {
    font-size: 1.2rem;
  }

  #texto-introducao {
    font-size: 1rem;
    padding: 0 10px;
    text-align: center;
  }

  .imagens-container {
    gap: 5px;
  }

  .imagens-container img {
    width: 32px;
  }

  .imagem-fundo-direita {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    opacity: 0.4;
  }

  #titulo-sobre-introducao {
    text-align: center;
  }
}
