#titulo-sobre {
  color: #1cff7a;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 35px;
  font-size: 2.9rem;
}

#sobre {
  display: block;
  text-align: center;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

#texto-sobre {
  max-width: 1800px;
  margin: 0 auto;
  line-height: 1.6;
  text-align: justify;
  padding: 0 20px;
}

h1#titulo-sobre {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

.imagem-fundo {
  position: absolute;
  top: 71%;
  right: 0;
  margin-right: 0px;
  transform: translateY(-50%);
  width: 380px;
  opacity: 0.4;
  pointer-events: none;
  z-index: -1;
}

@media (max-width: 768px) {
  #sobre {
    padding: 10px;
    text-align: center;
  }

  #titulo-sobre {
    font-size: 2rem;
    margin-top: 10px;
  }

  #texto-sobre {
    font-size: 1rem;
    padding: 0 10px;
  }

  .imagem-fundo-direita {
    position: static;
    margin: 20px auto 0;
    transform: none;
    width: 300px;
    opacity: 0.4;
  }
}
