#tecnologias {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
}

#titulo-principal {
  font-size: 2rem;
  color: #1cff7a;
  text-align: center;
  margin: 40px 0;
}

.tecnologia-bloco {
  background-color: #022907;
  color: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  text-align: left;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 300px;
  width: 95%;
}

.tecnologia-bloco h3 {
  color: #00ff99;
  font-size: 1.6em;
  margin-bottom: 30px;
  text-align: left;
  width: 100%;
}

.tecnologia-bloco ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.tecnologia-bloco ul li {
  font-size: 1.6em;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.tecnologia-bloco ul li img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.imagem-fundo {
  position: absolute;
  top: 68%;
  left: 89%;
  transform: translate(-50%, -50%);
  opacity: 0.4;
  pointer-events: none;
  z-index: -1;
}

@media (max-width: 768px) {
  #tecnologias {
    grid-template-columns: 1fr;
    gap: 15px;
  }
  #titulo-principal {
    font-size: 2rem;
    color: #1cff7a;
    text-align: center;
    margin: 40px 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }

  .imagem-fundo {
    display: none;
  }
  .tecnologia-bloco {
    padding: 15px;
    width: 90%;
    min-height: auto;
    text-align: center;
    align-items: center;
  }

  .tecnologia-bloco h3 {
    font-size: 1.6em;
    text-align: center;
  }

  .tecnologia-bloco ul li {
    font-size: 1.2em;
    gap: 10px;
    justify-content: center;
  }

  .tecnologia-bloco ul li img {
    width: 44px;
  }
}
